@import 'shopMap.css';
@import 'aisleList.css';
@import 'Loader.css';
@import 'aisleMap.css';
@import 'supermarketCreator.css';
.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

.app-title {
    background-color: #423c51;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 2px solid #423c51;
    box-shadow: 5px 5px 5px gray;
    font-weight: 900;
}

body {
    background-color: #487eb0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 50px;
}

.header {
    text-transform: none;
    margin-top: 10px;
    max-width: 100%;
}

/* #bottomleg3 {
    animation: bottomleg3 2s linear 0s infinite;
    transform-origin: left;
    transform-box: fill-box;
    transform: rotate(15deg);
}

@keyframes bottomleg3 {
    0% {
    }
    50% {
        transform: translate(3px, -2px) rotate(-25deg);
    }
    100% {
    }
} */

h2 {
    font-size: 28px;
}

.item-input-form {
    background-color: white;
    width: 100%;
}

.sortListText {
    margin: 0;
}

.sortListButton {
    margin: 0;
}

.addItemButton {
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(169, 169, 169);
    margin-left: 10px;
    border-radius: 5px;
    font-size: 12px;
}

.notepad {
    width: 340px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: #faf3dd;
    align-items: center;
    border: 20px solid #faf3dd;

    min-height: 400px;
}

.notepad::before {
    content: '';
    position: relative;
    top: -21px;
    left: 170px;
    border-width: 40px 0px 0 40px;
    border-style: solid;
    border-color: #487eb0 #f4f1de;
    box-shadow: gray -4px 4px 4px;
    transition: all 0.5s;
}

/* .notepad:hover::before {
    transform: scale(1.3);
    top: -14px;
    left: 164px;
} */

.inputArea {
    display: flex;
    align-items: center;
    min-width: 300px;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

a {
    color: white;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-card {
    border-bottom: 1px solid gray;
    display: grid;
}

.foodName {
    grid-area: name;
    border-left: 2px solid #f1af88;
    text-align: left;
    padding: 5px;
}
.removeButton {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    grid-area: but;
    background-color: #f4f1de;
    align-self: center;
    color: rgb(80, 80, 80);
    font-size: 16px;
    font-weight: 900;
    justify-self: flex-end;
    border: 0;
}
.quantity-changer-container {
    grid-area: quan;
}

.item-card-category {
    grid-area: cat;
    border-left: 2px solid #f1af88;
    text-align: left;
    padding: 5px;
    margin: 0;

    color: rgb(172, 171, 171);
    cursor: pointer;
}

/* .dot {
    grid-area: dot;
    height: 20px;
    width: 20px;
    background-color: #98c3cb;
    border-radius: 50%;
    align-self: center;
    box-shadow: inset 0 0 4px #000000;
} */

.item-card {
    display: grid;
    grid-template-columns: 1fr 180px 80px;
    grid-template-rows: auto;
    grid-template-areas:
        'quan name but'
        'quan cat but';
}

.quantity-changer-container {
    display: flex;
    align-items: center;
}

.food-name {
    padding: 0 10px;
}

.quantity {
    margin: 0;
    padding: 5px;
    font-weight: 700;
}

.sorted-list {
    text-align: left;
    min-width: 300px;
    margin-top: 20px;
    margin-left: 20px;
}

/* .unsorted-list-container {
    border: solid;
    width: 70%;
    height: 100vh;
    margin: auto;
} */

.increment-button {
    font-size: 20px;
    padding-right: 10px;
    background-color: white;
    padding: 0px 10px;
}

.increment-button.up {
    border-radius: 0 5px 5px 0;
}

.increment-button.down {
    border-radius: 5px 0 0 5px;
}

.listTitle {
    margin: 10px;
}

.sortListButton {
    margin: 10px;
}

.item-card-category.dropdown {
    padding: 0 0 10px 5px;
    margin: 0;
}

/* .shoppingListCompleteButton {
    width: 90%;
    text-align: left;
    padding: 8px 15px;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 900;
} */

@media screen and (max-width: 400px) {
    .notepad {
        max-width: 300px;
        margin: 5px;
    }
    .notepad::before {
        left: 150px;
    }

    .item-card {
        grid-template-columns: auto 180px 25px;
    }
    .quantity-changer-container {
        padding-left: 5px;
    }
    .inputArea {
        min-width: 230px;
        padding: 0px 10px;
    }
}

.clearButtonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

.button {
    margin-top: 20px;
}

.supermarketButton {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.superMarketName {
    font-size: 20px;
}

.leaflet-container {
    width: 100%;
    height: 50vh;
}

.mapContainer {
    width: 95%;
}

.MuiFormControl-root {
    width: 200px;
}

.supermarketcard {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.MuiButtonBase-root.button {
    width: 100%;
}
