.supermarketCreatorContainer {
    width: 300px;
    align-items: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: #faf3dd;
    align-items: center;
    border: 20px solid #faf3dd;
    box-shadow: gray -5px 5px 5px;
}
.newSupermarket-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-to-lookup-button {
    margin: 10px;
}

.category-lookup-input-container {
    display: flex;
    width: 50%;
    margin: 0px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-aisle-assignment-list {
    text-align: left;
}

.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px black solid;
    padding-top: 5px;
}

.formsubtitle {
    margin-bottom: 0;
}

.sizeControl {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputField {
    padding: 5px;
}

.shopPostcode-input {
    margin-top: 10px;
}
