.supermarketCreatorContainer {
    width: 600px;
    align-items: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: #faf3dd;
    align-items: center;

    min-height: 500px;
    border: 20px solid #faf3dd;
    box-shadow: gray -5px 5px 5px;
}
.newSupermarket-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.layout-change-container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
.increment-layout {
    display: flex;
    margin: 0px 50px;
    text-align: center;
    justify-content: center;
}

.aisle-category-dropdown {
    margin: 10px;
}
.add-to-lookup-button {
    height: 30px;
    margin: 30px;
}
.category-lookup-input-container {
    display: flex;
    align-items: center;

    width: 50px;
}
